<div ng-controller="DocumentationController"
  ng-init="data = <%= @data.to_json %>;
           documentationVersions = <%= documentation_versions(@vp).to_json %>;
           currentVersion = '<%= @documentation.version %>';
           documentationArray = <%= build_documentation_array(@data[:apis]).to_json %>;">
  <!-- Sidebar -->
  <%= render partial: "side_bar" %>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-2">
              <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                <img src="data:image/false;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGFJREFUOI3t0kEOQDAYROGP4EicFTdyJAQLFcKu3Uh4STO7PzN55XNkIUvUIWOYMIQEHdbE10IeDq6Rza4snJMLNOInj/bJc3qvG0fDyi6liLzzkNJ7u5TUf/hL+ZSU97MBesZLbzOP1bcAAAAASUVORK5CYII=">
              </a>
            </div>
          </div><br />

          <div ng-if="data.base_url" class="row">
            <div class="col-lg-12 text_wheat">
              <strong>BASE URL</strong>
              {{ data.base_url }}
            </div>
          </div><br />

          <div class="row api_details" ng-repeat="x in documentationArray | filter: searchKeyword" id="{{x.id}}">
            <div class="col-lg-12">
              <!-- Breadcrump -->
              <small>
                <ol class="breadcrumb bg-light p-2 text-black-50">
                  <li class="breadcrumb-item" ng-repeat="p in x.parents">{{p}}</li>
                </ol>
              </small>

              <!-- Title -->
              <div class="d-flex align-items-center">
                <button class="btn btn-outline-success btn-sm" type="button"><b>{{x.http_method}}</b></button>
                <div class="ml-2 font-weight-bolder">{{x.name}}</div>
                <button class="btn btn-light btn-sm ml-2" type="button" ngclipboard data-clipboard-text="{{versionAddress()}}#{{x.id}}">
                  <link-icon />
                </button>
              </div>

              <div class="container-flex">
                <div class="description">
                  <!-- End point -->
                  <div class="section-block">
                    <div class="row">
                      <div class="col-sm-8 d-flex">
                        <input type="text" readonly class="form-control bg-light text-muted" value="{{x.end_point}}">
                        <button class="btn btn-light btn-sm ml-2" type="button" ngclipboard data-clipboard-text="{{x.end_point}}">
                          <copy-icon />
                        </button>
                      </div>
                    </div>
                  </div>

                  <!-- Description -->
                  <p ng-if="x.description">{{x.description}}</p>

                  <div class="card" ng-if="x.header">
                    <div class="card-body">
                      <h5 class="card-title">Headers</h5>
                      <div ng-repeat="(key, value) in x.header" class="d-flex row mb-1">
                        <div class="d-flex col-2">
                          {{key}}
                          <!-- TODO: Implement required/optional -->
                        </div>
                        <div class="col-1"><span class="badge badge-pill badge-light">string</span></div>
                        <div class="ml-1 text-muted col-3">
                          {{value}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="section-block" ng-if="x.params && x.params.length > 0">
                    <h3 class="block-title">Parameters</h5>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <td>Parameter Name</td>
                            <td></td>
                            <td>Data Type</td>
                            <td>Description</td>
                            <td></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="param in x.params">
                            <td>
                              <code>{{param.key}}</code>
                            </td>
                            <td>
                              <button class="btn btn-xs btn-danger" ng-if="param.required">required</button>
                              <button class="btn btn-xs btn-primary" ng-if="!param.required">optional</button>
                            </td>
                            <td>{{param.type}}</td>
                            <td>{{param.description}}</td>
                            <td>
                              {{param.notes}}
                              <p ng-if="param.validations">
                                <b>Validations:</b><br>
                                <span ng-repeat="validation in param.validations">{{validation}}<br></span>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="section-block" ng-if="x.notes">
                    <h3 class="block-title">Notes</h5>
                    <p ng-repeat="note in x.notes">
                      {{ note }}
                    </p>
                  </div>
                </div>
                <div class="examples">
                  <%= render partial: "examples" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
