<div ng-controller="DocumentationController"
  ng-init="data = <%= @data.to_json %>;
           documentationVersions = <%= documentation_versions(@vp).to_json %>;
           currentVersion = '<%= @documentation.version %>';
           documentationArray = <%= build_documentation_array(@data[:apis]).to_json %>;">
  <!-- Sidebar -->
  <%= render partial: "side_bar" %>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-2">
              <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                <img src="data:image/false;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGFJREFUOI3t0kEOQDAYROGP4EicFTdyJAQLFcKu3Uh4STO7PzN55XNkIUvUIWOYMIQEHdbE10IeDq6Rza4snJMLNOInj/bJc3qvG0fDyi6liLzzkNJ7u5TUf/hL+ZSU97MBesZLbzOP1bcAAAAASUVORK5CYII=">
              </a>
            </div>
          </div><br />

          <div ng-if="data.base_url" class="row">
            <div class="col-lg-12 text_wheat">
              <strong>BASE URL</strong>
              {{ data.base_url }}
            </div>
          </div><br />

          <div class="row api_details" ng-repeat="x in documentationArray | filter: searchKeyword" id="{{x.id}}">
            <div class="col-lg-12">
              <ol class="breadcrumb">
                <li ng-repeat="p in x.parents">{{p}}</li>
              </ol>
              <h2 class="section-title">{{x.name}}
                <button class="btn btn-default btn-xs mt-1 pull-right" type="button" ngclipboard data-clipboard-text="{{versionAddress()}}#{{x.id}}">Copy permalink</button>
              </h2>
              <div class="container-flex">
                <div class="description">
                  <p ng-if="x.description">{{x.description}}</p>
                  <div class="section-block">
                    <h3 class="block-title">Request</h5>
                    <div class="row">
                      <div class="col-sm-8">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button class="btn btn-success" type="button"><b>{{x.http_method}}</b></button>
                          </span>
                          <input type="text" readonly class="form-control" value="{{x.end_point}}">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <button class="btn btn-default btn-sm mt-2" type="button" ngclipboard data-clipboard-text="{{x.end_point}}">Copy</button>
                      </div>
                    </div>
                  </div>

                  <div class="section-block" ng-if="x.header">
                    <h3 class="block-title">Headers</h5>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <td>Name</td>
                            <td>Description</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="(key, value) in x.header">
                            <td>
                              <code>{{key}}</code>
                            </td>
                            <td>
                              <code>{{value}}</code>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="section-block" ng-if="x.params && x.params.length > 0">
                    <h3 class="block-title">Parameters</h5>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <td>Parameter Name</td>
                            <td></td>
                            <td>Data Type</td>
                            <td>Description</td>
                            <td>Notes</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="param in x.params">
                            <td>
                              <code>{{param.key}}</code>
                            </td>
                            <td>
                              <button class="btn btn-xs btn-danger" ng-if="param.required">required</button>
                              <button class="btn btn-xs btn-primary" ng-if="!param.required">optional</button>
                            </td>
                            <td>{{param.type}}</td>
                            <td>{{param.description}}</td>
                            <td>
                              {{param.notes}}
                              <p ng-if="param.validations">
                                <b>Validations:</b><br>
                                <span ng-repeat="validation in param.validations">{{validation}}<br></span>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="section-block" ng-if="x.response_params && x.response_params.length > 0">
                    <h3 class="block-title">Response Properties</h5>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <td>Property Name</td>
                            <td></td>
                            <td>Data Type</td>
                            <td>Description</td>
                            <td>Notes</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="param in x.response_params">
                            <td>
                              <code>{{param.key}}</code>
                            </td>
                            <td>
                              <button class="btn btn-xs btn-danger" ng-if="param.required">required</button>
                              <button class="btn btn-xs btn-primary" ng-if="!param.required">optional</button>
                            </td>
                            <td>{{param.type}}</td>
                            <td>{{param.description}}</td>
                            <td>
                              {{param.notes}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="section-block" ng-if="x.notes">
                    <h3 class="block-title">Notes</h5>
                    <p ng-repeat="note in x.notes">
                      {{ note }}
                    </p>
                  </div>
                </div>
                <div class="examples">
                  <%= render partial: "examples" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
